<html>
<style>
    td {
        padding: 5px;
        margin: 5px;
    }
</style>
    <body>


        <g:form name="myForm" url="[controller:'calc', action:'update']">
            <g:textField name="myField" value="${myValue}" />

            <table>
                <tr>
                    <td><g:actionSubmit value="1" action="home" /></td>
                    <td><g:actionSubmit value="2" action="home" /></td>
                    <td><g:actionSubmit value="3" action="home" /></td>
                    <td><g:actionSubmit value="+" action="home" /></td>
                </tr>
                <tr>
                    <td><g:actionSubmit value="4" action="home" /></td>
                    <td><g:actionSubmit value="5" action="home" /></td>
                    <td><g:actionSubmit value="6" action="home" /></td>
                    <td><g:actionSubmit value="-" action="home" /></td>
                </tr>
                <tr>
                    <td><g:actionSubmit value="7" action="home" /></td>
                    <td><g:actionSubmit value="8" action="home" /></td>
                    <td><g:actionSubmit value="9" action="home" /></td>
                    <td><g:actionSubmit value="*" action="home" /></td>
                </tr>
                <tr>
                    <td><g:actionSubmit value="0" action="home" /></td>
                    <td/>
                    <td><g:actionSubmit value="=" action="home" /></td>
                    <td><g:actionSubmit value="/" action="home" /></td>
                </tr>

            </table>



        </g:form>

    </body>
</html>